In [1]:
import pandas as pd
from sqlalchemy import create_engine,types
import os
param = pd.read_csv("../dataset/PARAM.txt")
dbId = param.loc[4, 'PARAM_VALUE']
dbPw = param.loc[5, 'PARAM_VALUE']
dbIp = param.loc[1, 'PARAM_VALUE']
dbPort = param.loc[2, 'PARAM_VALUE']
dbName = param.loc[3, 'PARAM_VALUE']
dbPrefix = "oracle+cx_oracle"
dataEncoding = "ms949" # ms949, utf-8
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://{}:{}@{}:{}/{}'.format(dbId,dbPw,dbIp,dbPort,dbName)    )

In [2]:
# 불러올 파일
filePath = "../dataset2"
fileName = os.listdir(filePath)

['.ipynb_checkpoints',
 'CHEON.csv',
 'CHESUNGBUN.csv',
 'CHOLESTEROL.csv',
 'GOMILDO_CHOLESTEROL.csv',
 'HYULAP.csv',
 'HYULDANG.csv',
 'JEOMILDO_CHOLESTEROL.csv',
 'JUNGSUNGJIBANG.csv',
 'PEEUM.csv',
 'SANSOPOHWADO.csv',
 'SIMBAKSU.csv',
 'SIMJANGEUM.csv']

In [3]:
for i in range(0, len(fileName)) :
    try :

        # 파일 불러오기
        indata = pd.read_csv(f'{filePath}/{fileName[i]}')

        # object 타입을 VARCHAR2로 설정
        objectColumns = list(indata.columns[indata.dtypes == 'object'])
        typeDict={}
        maxLen = 100

        for j in range(0, len(objectColumns)):
            typeDict[ objectColumns[j] ] = types.VARCHAR(maxLen)

        # float 타입을 NUMERIC으로 설정
        floatColumns = list(indata.columns[indata.dtypes == 'float64'])

        for j in range(0, len(floatColumns)):
            typeDict[ floatColumns[j] ] = types.NUMERIC

        # 생성할 태이블명
        tableName = ((fileName[i].split("."))[0]).lower()

        # 태이블 생성
        indata.to_sql(name = tableName,
                      con = engine,
                      if_exists='replace',
                      dtype=typeDict,
                      index=False)

        print(f"{tableName} is created in {param.loc[0, 'PARAM_VALUE']} {dbName}")
    except Exception as e :
        print(e)

print("done")

[Errno 13] Permission denied: '../dataset2/.ipynb_checkpoints'
(cx_Oracle.DatabaseError) ORA-28000: the account is locked
(Background on this error at: https://sqlalche.me/e/20/4xp6)
(cx_Oracle.DatabaseError) ORA-28000: the account is locked
(Background on this error at: https://sqlalche.me/e/20/4xp6)
(cx_Oracle.DatabaseError) ORA-28000: the account is locked
(Background on this error at: https://sqlalche.me/e/20/4xp6)
(cx_Oracle.DatabaseError) ORA-28000: the account is locked
(Background on this error at: https://sqlalche.me/e/20/4xp6)
(cx_Oracle.DatabaseError) ORA-28000: the account is locked
(Background on this error at: https://sqlalche.me/e/20/4xp6)
(cx_Oracle.DatabaseError) ORA-28000: the account is locked
(Background on this error at: https://sqlalche.me/e/20/4xp6)
(cx_Oracle.DatabaseError) ORA-28000: the account is locked
(Background on this error at: https://sqlalche.me/e/20/4xp6)
(cx_Oracle.DatabaseError) ORA-28000: the account is locked
(Background on this error at: https://sqlalche.me/e/20/4xp6)
(cx_Oracle.DatabaseError) ORA-28000: the account is locked
(Background on this error at: https://sqlalche.me/e/20/4xp6)
(cx_Oracle.DatabaseError) ORA-28000: the account is locked
(Background on this error at: https://sqlalche.me/e/20/4xp6)
(cx_Oracle.DatabaseError) ORA-28000: the account is locked
(Background on this error at: https://sqlalche.me/e/20/4xp6)
(cx_Oracle.DatabaseError) ORA-28000: the account is locked
(Background on this error at: https://sqlalche.me/e/20/4xp6)
done